@model CameraWebService.Models.CameraViewModel

@{
    ViewBag.Title = "CameraViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <table>

            <tr>
                <td>
                    <button type='button' onclick="ControlClick('left')">←</button>
                    <button type='button' onclick="ControlClick('right')">→</button>
                    <button type='button' onclick="ControlClick('up')">↑</button>
                    <button type='button' onclick="ControlClick('down')">↓</button>
                </td>
            </tr>

            <tr>
                <td>
                    @{
                        var filePath = "~/Content/" + Model.Camera.Name + ".jpeg";
                        <img id="LiveImg" width="800" height="600" alt="" src="@Url.Content(filePath)?" />
                        <script>
                            var myImg = document.getElementById("LiveImg");
                            if (myImg) {
                                window.setInterval(function () {
                                    myImg.src = myImg.src.replace(/\?.*$/, '?' + Math.random());
                                },
                                    100);
                            }
                        </script>
                    }
                </td>
            </tr>

        </table>


    </div>
</body>

<script>
    function ControlClick(action) {
        var ip = '@Model.Camera.IpAddress';
        $.get("/Cameras/PtzControl", {ipAddress : ip, actionType : action},
            function(data) {
                $("p").html(data);
            });
    }
</script>

