@model CameraWebService.Models.CameraViewModel

@{
    ViewBag.Title = "CameraViewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div>

        @{
            <table>
                <tr>
                    <td>
                        @using (Html.BeginForm("LedControl", "Cameras", FormMethod.Post))
                        {
                            <input type="hidden" name="cameraAddress" value="@Model.Camera.IpAddress" />
                            <button name="action" value="turnOn">ВКЛЮЧИТЬ</button>
                            <button name="action" value="turnOff">ВЫКЛЮЧИТЬ</button>
                        }
                    </td>
                    <td>
                        <canvas id="circlecanvas" width="20" height="30"></canvas>
                        <script>
                        var canvas = document.getElementById("circlecanvas");
                        var context = canvas.getContext("2d");
                        context.arc(10, 10, 10, 0, Math.PI * 2, false);

                        var model = @Html.Raw(Json.Encode(Model));

                        if (model.IsOnLed) {
                            context.fillStyle = "green";
                        } else {
                            context.fillStyle = "red";
                        }
                        context.fill();

                        if (canvas) {
                            window.setInterval(function() {

                                    var model = @Html.Raw(Json.Encode(Model));

                                    if (model.IsOnLed) {
                                        context.fillStyle = "green";
                                    } else {
                                        context.fillStyle = "red";
                                    }
                                    context.fill();
                                },
                                1000);
                        }

                        </script>
                    </td>
                </tr>
            </table>
        }

        @{
            var filePath = "~/Content/" + Model.Camera.Name + ".jpeg";
            <img id="LiveImg" width="1024" height="768" alt="" src="@Url.Content(filePath)?" />
            <script>
                var myImg = document.getElementById("LiveImg");
                if (myImg) {
                    window.setInterval(function () {
                        myImg.src = myImg.src.replace(/\?.*$/, '?' + Math.random());
                    },
                        100);
                }
            </script>
        }

    </div>
</body>

